/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

/*Declare each .scss file below with @import 'file_name';*/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("rosehill.jpeg");
  background-attachment: fixed;
}

.accepted-logo {
  max-height: 200px;
  max-width: 200px;
}

.transparent {
  opacity: .85;
}


.nav-welcome {
  bottom: 5px;
   padding: 20px;
}

nav {
   position: fixed;
   top: 0px;
}

.navbar {
  padding-top: 6px;
  padding-bottom: 6px;
}

.site-title {
  text-align: center;
}

.navbar {
  padding-top: 6px;
  padding-bottom: 6px;
}


.main {
  margin-top: 45px;
}
